@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html,body{
    height: 100%;
    width: 100%;
    font-family: 'Roboto';
    font-weight: lighter;
}
.button{
    font-size: large;
    width: 66px;
    padding: 24px;
    /* margin-left: 1%; */
    border: 2px solid black;
    border-radius: 10%;
    cursor: pointer;
}
.row{
    margin: 1vw 0;
  
}
.row input{
    font-size: 20px;

    margin: 0;
    padding: 10px 0px;
    border: 2px solid black;
    border-radius: 5px;

}
