@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{

}

.text-center{
    text-align: center;
    margin-bottom: 4%;
}
.mx-auto{
    margin: auto;
}

.flex{
    display: flex;
}
.flex-col{
    flex-direction: column;
}
.items-center{
    align-items: center;
}
